DataMigration_nifi_sourcecode/backup/getDataFromSQLDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>9bf8e6bd-0167-1000-fff6-eccc32a37cd0</groupId>
    <name>getDataFromSQLDB</name>
    <snippet>
        <controllerServices>
            <id>c329f54c-dafd-39d9-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:sqlserver://pp10:1433;databaseName=PearsonPlaces</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/usr/lib/jvm/java-1.8-openjdk/jre/lib/mssql-jdbc-7.0.0.jre8.jar</value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>SA</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>5befd3fe-6466-3a44-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <position>
                <x>487.95775351777684</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>
                            <name>compression-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>c329f54c-dafd-39d9-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>Select * FROM vw_Migration_ProductsCollection </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteSQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>782a41e0-6f10-3623-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <position>
                <x>487.95775351777684</x>
                <y>271.0</y>
            </position>
            <bundle>
                <artifact>nifi-avro-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Split Strategy</key>
                        <value>
                            <name>Split Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Size</key>
                        <value>
                            <name>Output Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Strategy</key>
                        <value>
                            <name>Output Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transfer Metadata</key>
                        <value>
                            <name>Transfer Metadata</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Split Strategy</key>
                        <value>Record</value>
                    </entry>
                    <entry>
                        <key>Output Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Output Strategy</key>
                        <value>Datafile</value>
                    </entry>
                    <entry>
                        <key>Transfer Metadata</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitAvro</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.avro.SplitAvro</type>
        </processors>
        <processors>
            <id>9e9aee2d-da5c-34d5-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>906.8407340910865</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/dockerdata/out/product</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>e287220d-b89e-33d6-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <position>
                <x>490.95775351777684</x>
                <y>475.0</y>
            </position>
            <bundle>
                <artifact>nifi-avro-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JSON container options</key>
                        <value>
                            <name>JSON container options</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>
                            <name>Wrap Single Record</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                        <value>
                            <name>Avro schema</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JSON container options</key>
                        <value>array</value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertAvroToJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
            <id>f5bcf0fa-c2f7-3de1-0000-000000000000</id>
            <parentGroupId>4cfcee8f-543c-3eb0-0000-000000000000</parentGroupId>
            <position>
                <x>480.482147147917</x>
                <y>890.1678186555696</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Filename</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
    </snippet>
    <timestamp>12/17/2018 11:06:31 GMT</timestamp>
</template>
